a.navbar-brand {
  text-indent: -9999px;
  background: url("../img/logo/white-on-transparent-sm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 0;
  height: 0;
}

#home {
  margin-bottom: 5rem;
}

.jumbotron {
  margin-bottom: 5rem;
}

.nav-section {
  margin-bottom: 8rem;
}

#main-logo {
  width: 50%;
  height: 50%;
  margin: auto 0 auto 5rem;
}

#nav-tel {
  color: #aaa;
  padding-right: 2rem;
  visibility: hidden;
}

#nav-tel a {
  color: #ddd;
}

.quote-badge {
  color: #000;
  width: 15rem;
  height:15rem;
  border-radius: 15rem;
  border: 7px #000 solid;
  background-color: #fff;
  position: absolute;
  display: table;
  right: 4rem;
  bottom: 1rem;
}

.quote-badge p {
  font-family: 'Lobster', cursive;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  /* Safari */
  -webkit-transform: rotate(-10deg);
  /* Firefox */
  -moz-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);

}

.carousel-caption {
  color: #000;
  position: absolute;
  height: 12rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.first-carousel-item {
  background: url("../img/slideshow/glass-ceiling.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-carousel-item {
  background: url("../img/slideshow/cloud-windows.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third-carousel-item {
  background: url("../img/slideshow/cassita-tripple-windows.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-list {
  margin: 5rem 0 5rem 0;
}

.fill-heading {
  background-color: #fff;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
}

.header-caption {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.services-header {
  background: #aaa url("../img/slideshow/installing-large-window.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#services {
  margin-bottom: 0;
}

.about-header {
  background: #aaa url("../img/slideshow/tress-reflected-on-window.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery {
  background: #e9ecef;
  /*background: #cae5db;*/
  padding-bottom:2rem;
  margin-bottom: 0;
}

#gallery > .container {
  padding-top: 2rem;
}

#gallery > .nav-section {
  padding-top: 2rem;
}

#about-us {
  margin-bottom: 0;
}

#about-us h1 {
  margin-bottom: 2rem;
}

.team-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}

#contact-us {
  margin-bottom: 2rem;
}

.contact-info {
  font-size: 1.1rem;
}

footer {
  padding-bottom: 2rem;
}

.webmaster-credit {
  text-align: right;
}

@media (max-width: 767px) {
  #main-logo {
    display: none;
  }

  #nav-tel {
    display: none;
  }

  a.navbar-brand {
    width: 300px;
    height: 67px;
  }

  footer, .webmaster-credit {
    text-align: center;
  }
}
